.hero {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: end;
    width: 100%;
    height: 35rem;
    column-gap: 2rem;
    padding: 2rem 4rem;
}

.hero-content-left {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: start;
}

    .hero-content-title {
	text-align: left;
    }

.hero-content-right {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
}

    .main-blob {
	z-index: 0;
    }
