---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout pageTitle="index">
    <div class="main-content">
        <Hero />
    </div>
    <div class="content">
        <h2>Passionate, Life Time Learner, Tinker</h2>
    </div>
</BaseLayout>
