---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout pageTitle="index">
    <div class="main-content">
        <Hero />
    </div>
</BaseLayout>
