---
const { pageTitle } = Astro.props;
---
<div class="header-graphic" id="header-graphic">
    <img class="header-image" id="header-image-light" src="/assets/images/bg-wave-1.png">
    <img class="header-image" id="header-image-dark" src="/assets/images/bg-wave-2.png">
</div>
<header class="header-main">
    <div class="header-title">
        <h1 class="header-lowercase header-gradient-text">Nick Moore</h1>
    </div>
    <div class="header-actions">
        { pageTitle != 'index' && 
            <nav class="header-nav">
                <a href="/">
                    <span class="iconify" data-icon="mdi:home"></span>
                </a>
                <a href="/about" class="nav-item">ABOUT</a>
                <a href="/blog" class="nav-item">BLOG</a>
                <a href="/projects" class="nav-item">PROJECTS</a>
            </nav>
        }
        <div class="header-theme-toggle">
            <label class="theme-switch" for="checkbox">
                <input
                    type="checkbox"
                    id="checkbox"
                    class="js-theme-checkbox"
                />
                <div class="slider round"></div>
            </label>
            <span
                class="iconify sunglasses sunglasses-color"
                data-icon="mdi:sunglasses"></span>
        </div>
    </div>
</header>
