---
import Navbar from "./Navbar.astro";
---
<div class="header-graphic" id="header-graphic">
    <img class="header-image" id="header-image-light" src="/assets/images/bg-wave-1.png">
    <img class="header-image" id="header-image-dark" src="/assets/images/bg-wave-2.png">
</div>
<header class="flex flex-row flex-wrap justify-between items-center w-full h-auto py-4 px-8">
    <Navbar />
</header>
