---
import LinkButton from "./LinkButton.astro";
---

<div class="hero">
    <div class="hero-content-left">
        <h1 class="hero-content-title">Software & Web Developer</h1>
        <h3 class="hero-content-subtitle">
            Innovative Web Developer Crafting Unique Experiences with JavaScript
        </h3>
        <p class="hero-content-tag">
        </p>
    </div>
    <div class="hero-content-right">
        <div class="hero-links">
            <h1>This is a test</h1>
        </div>
        <div class="main-blob">
        </div>
    </div>
</div>
