---
import LinkButton from "./LinkButton.astro";
---

<div class="hero">
    <div class="hero-content-left">
        <h1 class="hero-content-title">Software & Web Developer</h1>
        <h3 class="hero-content-subtitle">
            Innovative Developer Crafting Unique Experiences with JavaScript
        </h3>
        <p class="hero-content-tag mt-2">
            <LinkButton title="My Work" href="https://github.com/nmoore14" variant="link-ghost-outlined-btn" />
            <LinkButton title="Let's Connect" href="www.linkedin.com/in/nick-moore-2258663b" variant="link-ghost-btn" />
        </p>
    </div>
    <div class="hero-content-right">
        <div class="hero-links">
            <h1>This is a test</h1>
        </div>
        <div class="main-blob">
        </div>
    </div>
</div>
