---
import LinkButton from "./LinkButton.astro";
---

<div class="hero">
    <div class="hero-content-left">
        <h1 class="hero-content-title">Software & Web Developer</h1>
        <h3>Bringing ideas to life through code and design</h3>
    </div>
    <div class="hero-content-right">
        <h1>Links</h1>
        <div class="main-blob">
            <svg width="532" height="562" viewBox="0 0 532 562" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M441.319 125.955C475.129 181.376 495.263 226.547 512.357 278.931C529.832 331.315 544.267 391.291 516.156 413.687C488.045 436.083 417.387 420.9 357.365 449.369C296.964 477.459 247.2 548.443 192.497 560.211C137.794 571.978 78.5323 524.149 41.3039 462.275C3.69557 400.402 -11.1198 324.483 9.01391 262.609C29.5275 200.735 85.3701 153.286 141.593 101.661C197.815 50.4156 254.418 -4.62562 306.841 0.309109C359.265 5.62343 407.13 70.9137 441.319 125.955Z" fill="url(#paint0_linear_21_94)"/>
                <defs>
                    <linearGradient id="paint0_linear_21_94" x1="266" y1="0" x2="266" y2="562" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#EF5DA8" id="gradient-color-1"/>
                        <stop offset="1" stop-color="#C4B5FD" id="gradient-color-2"/>
                    </linearGradient>
                </defs>
            </svg>
        </div>
    </div>
</div>
