---
import '../styles/main.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
	</head>
	<body>
		<Header pageTitle={pageTitle}/>
		<main>
			<slot />
		</main>
		<Footer />
	</body>
	<script src="../scripts/main.js"></script>
</html>
